html {
    --highlite-color: white;
    --main-color: #f5f5f5;
    --second-color: rgb(20, 20, 20);
    background: var(--second-color);
    font-family: sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-transform: uppercase;
}

path, ellipse {
    fill: none;
    stroke:var(--highlite-color);
}

circle {
    fill: none;
    stroke:var(--highlite-color);
}
a circle, text {
    fill: var(--highlite-color);
}

.hide {
    display: none;
}